@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.auth-input {
  @apply p-2 outline-yellow-600 border border-slate-400 rounded-md bg-gray-50
}

